@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var countLevel = 0;
}
@foreach (var level in Model.Level)
{
    var countTopic = 0;
    var totalCountEx = 0;

    string css_class = "level" + countLevel;
    <div id="@css_class" class="level">
        <a asp-page="./Exercise" asp-route-id="@level.ID" asp-route-cssclass="@css_class"> <p class="heading">@Html.DisplayFor(modelItem => level.Title)</p></a>
        <table class="table-hover">
            <thead>
                <tr>
                    <th>
                        <p class="heading2">Topic</p>
                    </th>
                    <th>
                        <p class="heading2">Sujet</p>
                    </th>
                    <th>
                        <p class="heading2"> #Exercise </p>
                    </th>
                </tr>
            </thead>
            @foreach (var topic in Model.Topic)
            {
                var countEx = 0;
                @foreach (var topicLevel in Model.TopicLevel)
                {
                    if (topicLevel.TopicID == topic.ID && topicLevel.LevelID == level.ID)
                    {
                        countTopic++;
                        @foreach (var exercise in Model.Exercise)
                        {
                            if (exercise.TopicID == topic.ID)
                            {
                                var questions = new HashSet<int>(exercise.Questions.Select(c => c.ID));

                                var questionLevels = new HashSet<int>(level.QuestionsLevels.Select(c => c.QuestionID));
                                bool hasQuestion = false;
                                @foreach (var q in questions)
                                {
                                    if(questionLevels.Contains(q))
                                    {
                                        hasQuestion = true;
                                    }
                                }

                                if (questions.Count > 0  && hasQuestion)
                                {
                                    countEx++;
                                    totalCountEx++;
                                }
                            }
                        }
                        if (countTopic < 6)
                        {
                                <tr>
                                    <td><p>@Html.DisplayFor(modelItem => topic.TitleEnglish)</p></td>
                                    <td><p>@Html.DisplayFor(modelItem => topic.TitleFrench)</p></td>
                                    <td class="noEx"><p>@countEx</p></td>
                                </tr>
                            }

                        }
                    }
                }

                @if (countTopic < 5)
                {
                    <tr>
                        <td><p>Lesson</p></td>
                        <td><p>Lesson</p></td>
                        <td class="noEx"><p>-</p></td>
                    </tr>
                }
                @{countTopic++; }
                @if (countTopic < 5)
                {
                    <tr>
                        <td><p>WorkSheet</p></td>
                        <td><p>Worksheet</p></td>
                        <td class="noEx"><p>-</p></td>
                    </tr>
                }
                @{countTopic++; }
                @if (countTopic < 5)
                {
                    <tr>
                        <td><p>Video</p></td>
                        <td><p>Video</p></td>
                        <td class="noEx"><p>-</p></td>
                    </tr>
                }
                @{countTopic++;
                }

                @for (int i = countTopic; i < 6; i++)
                {
                    if (i == countTopic)
                    {
                        <tr><td colspan="3" style="text-align:center"><p style="color:#ff0000;">Coming More Soon!</p></td></tr>
                    }
                    else
                    {
                        <tr><td colspan="3" style="text-align:center"><p> - </p></td></tr>
                    }
                }

                @if (countTopic >= 6)
                {

                    <tr><td colspan="3" style="text-align:center"><a asp-page="./Exercise" asp-route-id="@level.ID" asp-route-cssclass="@css_class"><p>Display All the Topics</p></a></td></tr>
                }

                <tr>
                    <td class="totalTopic" style="text-align:left"><a asp-page="./Exercise" asp-route-id="@level.ID" asp-route-cssclass="@css_class"><p class="heading2">Total Topics @countTopic</p></a></td>
                    <td colspan="2" class="totalTopic" style="text-align:right"><a asp-page="./Exercise" asp-route-id="@level.ID" asp-route-cssclass="@css_class"> <p class="heading2">Total Exercises @totalCountEx</p></a></td>
                </tr>
            </table>
    </div>
    countLevel++;
 }
<div class="clear_float">
</div>


