@page
@model EasyFrench.Pages.Admin.ManageTopic.RemoveTopicModel
@{
    ViewData["Title"] = "RemoveTopic";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h3>@Model.Message</h3>
@if (Model.isAdmin)
{
    <h2>RemoveTopic</h2>
    <h3>Are you sure you want to delete this? Topic</h3>
<div>
   <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TitleEnglish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.TitleEnglish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.TitleFrench)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.TitleFrench)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Topic.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Topic.ID" />
        <input type="submit" value="RemoveTopic" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

}

